html, body {
  padding: 0;
  margin: 0;
}

body {
  color: #20202a;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.mode {
  z-index: 100;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #20202a;
  background-color: #fff;
  font-size: 32px;
  border: none;
  outline: none;
}

.mode i {
  position: relative;
}

a {
  color: #20202a;
  text-decoration: none;
}

.dark {
  color: #fff;
  background-color: #20202a;
}

footer {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);
}

footer i {
  font-size: 22px;
  margin-left: 3px;
}

@media (max-height: 600px) {
  footer {
    visibility: hidden;
  }
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

main {
  position: relative;
  height: 100%;
  text-align: center;
}

.main-content {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  display: block;
  margin: 10px auto;
}

.me {
  font-size: 34px;
  font-weight: 100;
  margin-bottom: 5px;
}

.title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
}

.accent {
  font-weight: 500;
  color: #ff5e6e;
}

.description {
  max-width: 400px;
}

.links span {
  font-size: 22px;
  padding-right: 15px;
}

.links i {
  font-size: 24px;
  margin-right: 5px;
}
