body {
  font-family: 'Segoe UI', Roboto, Arial;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 35px 15px;
}

header {
  text-align: center;
}

h1 {
  font-weight: 100;
  margin-bottom: 10px;
}

h2 {
  font-weight: 400;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

main,
footer {
  margin: 30px auto;
  max-width: 600px;
  padding-left: 5px;
}

/* Mode toggle */

.dark {
  color: #fff;
  background-color: #20202a;
}

.light {
  color: #20202a;
  background-color: #fff;
}

#moon {
  width: 30px;
  height: 30px;
}

#sun {
  display: none;
  width: 30px;
  height: 30px;
}

#mode_toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  border: none;
  outline: none;
}

#mode_toggle::-moz-focus-inner {
  border: 0; /* Remove dotted outline in Firefox */
}

/* Avatar image */

#avatar {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: block;
  border-radius: 50%; /* Show image in circle */
}

/* Commit log */

#commit_hash {
  word-wrap: break-word;
  word-break: break-all;
}

/* Colors */

.lightblue {
  color: #44bdff;
}

.darkblue {
  color: #385cff;
}

.lightgreen {
  color: #99efd6;
}

.darkgreen {
  color: #24b347;
}
